.Table {
  width: 70vw;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
  margin: 20px auto;
}

.TableHeader {
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: rgb(12, 120, 154) !important;
  color: white;
}

.ColumnRow {
  padding: 16px;
  text-align: left;
}

.Table th,
.Table td {
  padding: 16px;
}

.Table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Table tr:hover {
  background-color: #ddd;
}

.GroupList {
  list-style: square;
  padding-left: 16px;
}
